# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.env
.venv
ENV/

# Notebooks
.ipynb_checkpoints

# VS Code
.vscode/

# Modelos
*.pkl

# Dataset
# data/*.csv  # Comenta esta línea si quieres incluir el dataset en el repo